@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #000;
  color: #fff;
}

.app {
  max-width: 440px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 10px;
}
