.word-input {
  display: flex;
}

.letter-input,
.action-button {
  font-size: 40px;
  padding: 5px;
  margin: 5px;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 5px;
  border: 0;
}

button:focus,
input:focus {
  outline: 3px solid orangered;
}

.action-button {
  cursor: pointer;
  flex-shrink: 0;
}

*:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.letter-green {
  background-color: green;
  color: white;
}

.letter-yellow {
  background-color: yellow;
}
